* {
  color: white;
  font-family: Noto Sans;
  position: sticky;
  margin: 0;
  padding: 0;
}

/* element styles */
body {
  display: flex;
}
html {
  background-color: white;
}

/* classes */
/* sidenav bar ///////////////////////////////////////////////////////////////////////*/
.header .sidenav {
  background-color: #56b58a;
  padding: 24px;
  font-size: 20px;
  position: fixed;
  min-height: 100%;
  width: 210px;
  overflow-x: hidden;
  z-index: 1;
}

.sidenav h1 {
  line-height: 120%;
  font-size: 20px;
  text-align: center;
}

/* sidenav image */

.sidenav img {
  margin-top: 20%;
  margin-bottom: 20%;
  border-right: #f5f5f5 10px outset;
  border-bottom: #f5f5f5 10px outset;
  border-left: #f5f5f5 10px outset;
  border-top: #f5f5f5 10px outset;
}

/* sidenav list items */

.sidenav li {
  text-align: center;
  font-size: smaller;
  margin-top: 30%;
  margin-bottom: 30%;
}

a {
  text-decoration: none;
  transition-duration: 0.4s;
}

svg {
  transition-duration: 0.4s;
}

.navigator:hover > svg {
  color: #3f4743;
  fill: #3f4743;
}

.navigator:hover {
  color: #3f4743;
  fill: #3f4743;
}

.header {
  min-height: 100%;
}

.main {
  min-height: 100vh;
  width: 100%;
  margin-left: 210px;
  z-index: 2;
}

/* about me ///////////////////////////////////////////////////////////////////////*/

.about-me {
  height: 320px;
  display: flex;
}

.about-me-info {
  flex-grow: 1;
  max-width: 50%;
  padding: 1rem;
}

.about-me-title {
  font-size: 220%;
  padding: 1rem;
  color: #303030;
}

.occupation {
  font-size: 150%;
  padding-left: 1rem;
  color: #a9a9a9;
}

.about-me-text {
  padding: 1rem;
  line-height: 120%;
  color: #505050;
}

/* portrait */

.portrait {
  flex-grow: 2;
}

.portrait-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-right: #f5f5f5 10px outset;
  border-bottom: #f5f5f5 10px outset;
  border-left: #56b58a 10px outset;
  border-top: #56b58a 10px outset;
}

/* latest project button */

.latest-button {
  background-color: #56b58a;
  margin: 1em;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.latest-button:hover {
  background-color: white;
  color: #303030;
}

/* my projects /////////////////////////////////////////////////////////////////////////*/

.my-projects {
  padding: 1rem;
  display: block;
}

.my-projects-title {
  font-size: 180%;
  color: #303030;
  padding: 1rem;
  margin: 5px;
}

h4::before {
  content: "";
  height: 34px;
  width: 4px;
  background: #56b58a;
  float: left;
  margin-right: 1rem;
}

/* rock, paper, scissors */

.vibe-check {
  display: inline-block;
  width: 100%;
  height: 90vh;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

#vibe-check-title {
  background-color: #56b58a;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
}

#vibe-check-tech {
  font-weight: 500;
}

#vibe-check:hover {
  transition-duration: 0.4s;
  color: #3f4743;
}

#vibe-check:hover > #rps-tech {
  transition-duration: 0.4s;
  color: #3f4743;
}

.vibe-check img {
  height: inherit;
  border-right: #f5f5f5 10px outset;
  border-bottom: #f5f5f5 10px outset;
  border-left: #56b58a 10px outset;
  border-top: #56b58a 10px outset;
}

/* quiz project */

.quiz-project {
  display: inline-block;
  width: 47%;
  height: 50vh;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

#quiz-title {
  background-color: #56b58a;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
}

#quiz-tech {
  font-weight: 500;
}

#quiz-title:hover {
  transition-duration: 0.4s;
  color: #3f4743;
}

#quiz-title:hover > #quiz-tech {
  transition-duration: 0.4s;
  color: #3f4743;
}

.quiz-project img {
  height: inherit;
  border-right: #f5f5f5 10px outset;
  border-bottom: #f5f5f5 10px outset;
  border-left: #56b58a 10px outset;
  border-top: #56b58a 10px outset;
}

/* work day scheduler project */

.workday-project {
  display: inline-block;
  width: 47%;
  height: 50vh;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

#workday-title {
  background-color: #56b58a;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
}

#workday-tech {
  font-weight: 500;
}

#workday-title:hover {
  transition-duration: 0.4s;
  color: #3f4743;
}

#workday-title:hover > #workday-tech {
  transition-duration: 0.4s;
  color: #3f4743;
}

.workday-project img {
  height: inherit;
  border-right: #f5f5f5 10px outset;
  border-bottom: #f5f5f5 10px outset;
  border-left: #56b58a 10px outset;
  border-top: #56b58a 10px outset;
}

/* contacts /////////////////////////////////////////////////////////////////////// */

.contacts {
  background-color: #56b58a;
  padding: 1rem;
  margin-top: 1rem;
  display: block;
  text-align: center;
  line-height: 140%;
}

.contact:hover > svg {
  color: #3f4743;
  fill: #3f4743;
}

.contact:hover {
  color: #3f4743;
  fill: #3f4743;
}

#email-link {
  display: inline-block;
  width: 30vh;
}

#linkedin-link {
  display: inline-block;
  width: 30vh;
}

#github-link {
  display: inline-block;
  width: 30vh;
}

#resume-link {
  display: inline-block;
  width: 30vh;
}


/* .rps-project {
  display: inline-block;
  width: 100%;
  height: 90vh;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

#rps-title {
  background-color: #56b58a;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
}

#rps-tech {
  font-weight: 500;
}

#rps-title:hover {
  transition-duration: 0.4s;
  color: #3f4743;
}

#rps-title:hover > #rps-tech {
  transition-duration: 0.4s;
  color: #3f4743;
}

.rps-project img {
  height: inherit;
  border-right: #f5f5f5 10px outset;
  border-bottom: #f5f5f5 10px outset;
  border-left: #56b58a 10px outset;
  border-top: #56b58a 10px outset;
} */